.invisible-scrollbar::-webkit-scrollbar{
    display: none;

}
.topSellersBar::-webkit-scrollbar{
	display: none;
}
body::-webkit-scrollbar{
	display: none;
}
.makeItScroll::-webkit-scrollbar{
	background-color: rgba(7, 160, 76, 0.311);
	width: 5px;
	cursor: all-scroll;
}
.makeItScroll::-webkit-scrollbar-thumb{
	background: #1c6afb;
	border-radius: 50px;
	cursor:cell;
}

.default-dropdown {
    display: inline-block;
	position: relative;

	&:after {
		border-color: blue transparent transparent transparent;
  		border-style: solid;
		border-width: 5px;
		content: '';
		position: absolute;
		pointer-events: none;
		top: 14px;
		right: 8px;
		z-index: 1000;
	}

	select {
		color: #ff0;
		display: inline-block;
		font-weight: 700;
		min-width: 150px;
		padding: 10px 18px 10px 10px; /* Right padding to account for triangle decoration */
		outline: none;
		-webkit-appearance: none;

		option {
			border: 2px solid blue;
			color: blue;
			font-weight: 700;
		}
	}
}


.with_box{
	width: 100%;
}

.xyz:first-child{
	margin-left: 0;
}

.containers{
	.carousel-prev,.carousel-next{
		width: 50px;
		height: 50px;
		border: 2.2px solid rgba(0, 0, 0, 0.768);
		background-color: rgba(255, 255, 255, 0.705);
		border-radius: 50%;
		color: black;
		position: absolute;
		top: 0;
		bottom: 10px;
		margin: auto;
		
	}
	.carousel-prev:before {
		background-image: url("/public/Logo/aro.png");
		background-size: 33px;
	  }
	.carousel-next:before {
		background-image: url('/public/Logo/aro.png');
		background-size: 33px;
		rotate: 180deg;
	}
}
@media (max-width:1024px) {
	.containers{
		.carousel-prev,.carousel-next{
			display: none;
		}
	}
}